<!DOCTYPE html>
<meta charset="utf-8">
<title>BDWM 订阅服务</title>
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<div class="container" style="margin-top: 50px; max-width: 940px;">
  <%= yield %>
</div>
